@import 'tailwindcss';
@import './theme.css';

/* Prism.js syntax highlighting */

@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}
@media (width >= 48rem) {
  .container {
    padding-inline: 4rem;
  }
}
@media (width >= 64rem) {
  .container {
    padding-inline: 5rem;
  }
}
@media (width >= 90rem) {
  .container {
    padding-inline: 6rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
