@import 'tailwindcss';
@import './theme.css';
@plugin '@tailwindcss/typography';

@layer utilities {
  .prose-custom {
    --tw-prose-body: var(--color-text-primary);
    --tw-prose-headings: var(--color-text-primary);
    --tw-prose-lead: var(--color-light);
    --tw-prose-links: var(--color-text-brand);
    --tw-prose-bold: var(--color-text-primary);
    --tw-prose-counters: var(--color-light);
    --tw-prose-bullets: var(--color-brand);
    --tw-prose-hr: var(--color-lightest);
    --tw-prose-quotes: var(--color-text-primary);
    --tw-prose-quote-borders: var(--color-brand);
    --tw-prose-captions: var(--color-light);
    --tw-prose-code: var(--color-text-primary);
    --tw-prose-pre-code: var(--color-text-white);
    --tw-prose-pre-bg: var(--color-primary-dark);
    --tw-prose-th-borders: var(--color-lightest);
    --tw-prose-td-borders: var(--color-lightest);
    --tw-prose-invert-body: var(--color-text-white);
    --tw-prose-invert-headings: var(--color-text-white);
    --tw-prose-invert-lead: var(--color-primary-light);
    --tw-prose-invert-links: var(--color-secondary);
    --tw-prose-invert-bold: var(--color-text-white);
    --tw-prose-invert-counters: var(--color-primary-light);
    --tw-prose-invert-bullets: var(--color-secondary);
    --tw-prose-invert-hr: var(--color-light);
    --tw-prose-invert-quotes: var(--color-text-white);
    --tw-prose-invert-quote-borders: var(--color-secondary);
    --tw-prose-invert-captions: var(--color-primary-light);
    --tw-prose-invert-code: var(--color-text-white);
    --tw-prose-invert-pre-code: var(--color-primary-light);
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: var(--color-light);
    --tw-prose-invert-td-borders: var(--color-light);

    --tw-prose-h1: 2.25rem;
    --tw-prose-h2: 1.875rem;
    --tw-prose-h3: 1.5rem;
    --tw-prose-h4: 1.25rem;
    --tw-prose-h5: 1.125rem;
    --tw-prose-h6: 1rem;
    --tw-prose-p: 1rem;
    --tw-prose-lead: 1.25rem;
    --tw-prose-small: 0.875rem;
    --tw-prose-code: 0.875rem;
  }
}

/* Mobile: 320px+ */
@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}
/* Tablet: 768px+ */
@media (width >= 48rem) {
  .container {
    padding-inline: 4rem;
  }
}
/* Small Desktop: 1024px+ */
@media (width >= 64rem) {
  .container {
    padding-inline: 2rem;
  }
}
/* Medium Desktop: 1280px+ */
@media (width >= 80rem) {
  .container {
    padding-inline: 3rem;
  }
}
/* Large Desktop: 1440px+ */
@media (width >= 90rem) {
  .container {
    padding-inline: 5rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
