@import 'tailwindcss';
@import './theme.css';

/* Mobile: 320px+ */
@utility container {
  margin-inline: auto;
  padding-inline: 1.25rem;
}
/* Tablet: 768px+ */
@media (width >= 48rem) {
  .container {
    padding-inline: 4rem;
  }
}
/* Small Desktop: 1024px+ */
@media (width >= 64rem) {
  .container {
    padding-inline: 2rem;
  }
}
/* Medium Desktop: 1280px+ */
@media (width >= 80rem) {
  .container {
    padding-inline: 3rem;
  }
}
/* Large Desktop: 1440px+ */
@media (width >= 90rem) {
  .container {
    padding-inline: 5rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Instrument Sans';
    src: url(../assets/fonts/InstrumentSans-VariableFont_wdth,wght.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
