---
import { Image } from 'astro:assets'
import HeroImg from '@assets/images/managed it services transportation logistics-p-1080.jpeg'
---

<div class="flex flex-row gap-4">
  <div class="relative aspect-square w-10 overflow-hidden rounded-full border">
    <Image src={HeroImg} alt="Image" class="absolute h-full w-full object-cover" />
  </div>
  <div class="flex flex-col">
    <p class="text-sm font-bold text-gray-700"><slot name="author" /></p>
    <p class="text-sm text-gray-700"><slot name="title" /></p>
  </div>
</div>
