---
import Heading from '@components/ui/Heading.astro'
import { Icon } from 'astro-icon/components'

export type Props = {
  title: string
  items: string[]
  iconName: string
  class?: string
}

const { title, items, iconName, class: className = '' } = Astro.props as Props
---

<div class={`border-brand relative rounded-3xl border p-6 h-full flex flex-col ${className}`}>
  <div class="flex flex-1 flex-col gap-4">
    <Heading tag="h3" size="h3" class="text-text-primary">
      {title}
    </Heading>
    <div class="space-y-2">
      {
        items.map((item) => (
          <div class="flex items-start gap-4">
            <div class="flex h-6 w-6 flex-shrink-0 items-center justify-center">
              <Icon name={iconName} class="text-brand h-4 w-4" aria-hidden="true" />
            </div>
            <p class="text-text-primary text-base leading-relaxed">{item}</p>
          </div>
        ))
      }
    </div>
  </div>
</div>
